<h1>editors</h1>

<ul>
<% @editors.each do |editor| %>
	<li>
	<a href="/editor/<%= editor.id %>">
	<img src="/images/300/editor-<%= editor.id %>.jpg" width="300" height="300" alt="<%= editor.name %>">
	<%= editor.name %></a>
	</li>
<% end %>
</ul>
