<img src="/images/we13/we13cover-<%= @book.country %>-155.png" width="155" id="abookpagecover">
<h2><%= @book.short_title %></h2>

<p>
Book page coming soon.

TODO:
secure links to PDF, epub, mobi in WoodEgg S3

list of questions

/book/:code/question/1234
	raw research
	final essay
</p>
