<h2>Which book did you buy?</h2>

<form action="/a/proof" method="post">

<select name="book">
<option value="">... chose one ...</option>
<option value="we13kh">Cambodia Startup Guide 2013</option>
<option value="we13cn">China Startup Guide 2013</option>
<option value="we13hk">Hong Kong Startup Guide 2013</option>
<option value="we13in">India Startup Guide 2013</option>
<option value="we13id">Indonesia Startup Guide 2013</option>
<option value="we13jp">Japan Startup Guide 2013</option>
<option value="we13kr">Korea Startup Guide 2013</option>
<option value="we13my">Malaysia Startup Guide 2013</option>
<option value="we13mn">Mongolia Startup Guide 2013</option>
<option value="we13mm">Myanmar Startup Guide 2013</option>
<option value="we13ph">Philippines Startup Guide 2013</option>
<option value="we13sg">Singapore Startup Guide 2013</option>
<option value="we13lk">Sri Lanka Startup Guide 2013</option>
<option value="we13tw">Taiwan Startup Guide 2013</option>
<option value="we13th">Thailand Startup Guide 2013</option>
<option value="we13vn">Vietnam Startup Guide 2013</option>
</select>

<p>
<label for="proof">Please paste in or type some proof (receipt, explanation)</label>
<textarea id="proof" name="proof"></textarea>
</p>

<input type="submit" name="submit" value="submit">
</form>

