<h1><%= @country_name + ': ' + @topic.topic %></h1>
<% @subtopics.each do |st| %>
	<% questions = Question.available_for_subtopic_and_country(st.id, @ccode) %>
	<% questions.delete_if {|q| @questions_i_answered.include? q.id} %>
	<% if questions.size > 0 %>
		<h2><%= st.subtopic %></h2>
		<ul>
		<% questions.each do |q| %>
			<li><a href="/qa/question/<%= q.id %>"><%= q.question %></a></li>
		<% end %>
		</ul>
	<% end %>
<% end %>

