<h1>Upload File</h1>

<form action="/qa/upload" method="post" enctype="multipart/form-data">
	<input type="file" name="myfile">
	<input type="submit" value="Upload!">
</form>

<p>
It doesn’t have a fancy progress bar, but <a href="mailto:derek@sivers.org">let me know</a> if you have any trouble uploading.
</p>

