<article>
<header>
<div class="group">
<h1>About Wood Egg:</h1>
</div>
</header>

<section id="information">
<p>
Wood Egg Pte Ltd is a Singapore corporation, established in 2011 to produce Entrepreneur’s Guides to Asia.
</p>

<h2>Goal</h2>
<p>
Learn the different small-business cultures across Asia.
</p><p>
Share facts, insights, and how-to instructions for individual entrepreneurs or small teams.
</p><p>
Sell books, which include access to all their video/audio source material, at a cost just enough to continue this research venture for many years.
</p>

<div class="bio">
<figure><img alt="Derek Sivers" src="/images/derek.jpg" /></figure>
<h2>Founder: Derek Sivers</h2>
<p>
Derek Sivers created CD Baby in 1998, which became the largest seller of independent music online, with $100M in sales for 150,000 musicians. 
</p><p>
In 2008, Derek sold CD Baby for $22M, and moved to Singapore to start his new company.
</p><p>
He is “Entrepreneur In Residence” at <a href="http://www.insead.edu/">INSEAD Business School</a>.
</p><p>
In 2011, he published <a href="http://sivers.org/a">a book</a> which shot to #1 on all of its Amazon categories. 
</p><p>
He is a frequent <a href="http://www.ted.com/speakers/derek_sivers.html">speaker at the TED Conference</a>, with over 5 million views of his talks, and <a href="http://twitter.com/#!/sivers">280,000 Twitter followers</a>.
</p><p>
More about Derek at <a href="http://sivers.org/">sivers.org</a>
</p>
</div>

</section>

</article>


